.carousel-products {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.products__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}
.products__list, .products__list--hidden {
    display: none;
}
.products__list--visible {
    display: flex;
    animation: fadeVisibility .5s;
}

.product__item {
  object-fit: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__price {
  font-size: 1rem;
}

.carousel-products__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
}
.carousel-products__actions button {
    cursor: pointer;
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: none;
    opacity: .7;
}
.carousel-products__actions button[data-js="product__button--next"] {
    margin-right: -3rem;
}
.carousel-products__actions button[data-js="product__button--prev"] {
    margin-left: -3rem;
}
.carousel-products__actions button i {
  color: var(--color-black);
}

@media (max-width: 900px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
  }
  .carousel-products__actions button[data-js="product__button--next"] {
      margin-right: -2rem;
  }
  .carousel-products__actions button[data-js="product__button--prev"] {
      margin-left: -2rem;
  }
}

@media (max-width: 768px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
  }
  .carousel-products__actions button[data-js="product__button--next"] {
      margin-right: -1.5rem;
  }
  .carousel-products__actions button[data-js="product__button--prev"] {
      margin-left: -1.5rem;
  }
}
@media (max-width: 578px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
  }
}