:root {
  --color-black: hsl(0, 0%, 0%);
  --color-black-20: hsl(0, 0%, 20%);
  --color-black-48: hsl(0, 0%, 48%);
  --color-black-95: hsl(0, 0%, 95%);
  --color-white: hsl(0, 0%, 100%);

  --color-primary: hsl(50, 100%, 50%);
  --color-danger: hsla(352, 93%, 63%, 1);
  --color-success: hsla(151, 100%, 45%, 1);
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Nunito', sans-serif;
}
h1, h2, h3, h4, h5, h6 { margin: 0; }
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
input {
  border: none;
}